* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
  color: inherit;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
  color: inherit;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

body {
  font-size: 14px;
  color: #584404;
  background: #584404;
}

.conteiner {
  margin: 0 auto;
  width: 100%;
}

@media screen and (max-width: 991px) {
  body {
    font-size: 12px;
  }
}
.calendar {
  display: flex;
  align-items: center;
}

.c-wrapper {
  position: relative;
  margin: 20px;
  width: 60%;
  border: 2px #9a7808 solid;
  border-radius: 5px;
  background: #FFFFFF;
}

table {
  margin: 0 auto 10px;
  width: 95%;
  height: 40vw;
  border-collapse: collapse;
  table-layout: fixed;
}

.normal,
.today,
.not-current {
  position: relative;
  text-align: start;
  vertical-align: top;
  padding: 10px 5px 0 10px;
  font-size: 1.5em;
  border: 1px #9a7808 solid;
  background: none;
  overflow: auto;
  overflow-x: hidden;
}
.normal::-webkit-scrollbar,
.today::-webkit-scrollbar,
.not-current::-webkit-scrollbar {
  width: 2px;
  height: 15px;
}
.normal::-webkit-scrollbar-track,
.today::-webkit-scrollbar-track,
.not-current::-webkit-scrollbar-track {
  background: none;
}
.normal::-webkit-scrollbar-thumb,
.today::-webkit-scrollbar-thumb,
.not-current::-webkit-scrollbar-thumb {
  background: #b08909;
  border-radius: 10px;
}
.normal._active,
.today._active,
.not-current._active {
  overflow: visible;
}

thead td {
  padding: 10px 0;
  text-align: center;
  vertical-align: middle;
  font-size: 30px;
  border: none;
}

tr.days {
  height: 30px;
  border: 1px #9a7808 solid;
  background-color: #b08909;
}

tr.days > td {
  padding: 0;
  text-align: center;
  vertical-align: middle;
  font-size: 1.5em;
  border: none;
}

td.today {
  background: #eed585;
}

.not-current {
  opacity: 0.5;
}
.not-current._active {
  opacity: 1;
}

#btnPrev {
  float: left;
  transform: rotate(-45deg);
}

#btnNext {
  right: 0;
  transform: rotate(135deg);
}

#btnPrev,
#btnNext {
  position: absolute;
  content: "";
  margin: 20px;
  width: 10px;
  height: 10px;
  border-top: 1px #9a7808 solid;
  border-left: 1px #9a7808 solid;
  cursor: pointer;
  background: none;
  transition: 0.3s ease 0s;
  z-index: 5;
}
#btnPrev:hover,
#btnNext:hover {
  width: 12px;
  height: 12px;
  border-width: 2px;
  border-color: #9a7808;
  transition: 0.2s ease;
}

.day_info {
  position: absolute;
  padding-left: 3px;
  width: 85%;
  height: auto;
  font-size: 0.7em;
  background: #eed585;
  border-left: 2px #9a7808 solid;
  border-radius: 5px;
  white-space: nowrap;
  overflow: hidden;
  cursor: pointer;
  transition: all 0.2s;
}
.day_info._active {
  width: 196%;
  margin-left: -8px;
  font-size: 0.8em;
  font-weight: bold;
  text-align: center;
  border: 2px #9a7808 solid;
  white-space: normal;
  overflow: visible;
  z-index: 5;
  transition: all 0.2s;
}

[id*="-0"] {
  margin-top: 5px;
}

[id*="-1"] {
  margin-top: 25px;
}

[id*="-2"] {
  margin-top: 45px;
}

[id*="-3"] {
  margin-top: 65px;
}

.event_info {
  display: none;
  position: absolute;
  width: 196%;
  margin-left: -8px;
  padding: 0 5px;
  font-size: 0.7em;
  color: #584404;
  text-align: center;
  border: 2px #9a7808 solid;
  border-radius: 5px;
  background: #FFFFFF;
  z-index: 4;
}
.event_info._active {
  display: block !important;
}
.event_days {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
}
.event_cal {
  width: 2vw;
  height: 2vw;
  margin-right: 10px;
}
.event_day {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.event_btn {
  width: 60%;
  margin: 10px 0;
  background: #eed585;
  border-radius: 5px;
  font-size: 1em;
  transition: all 0.3s;
}
.event_btn:hover {
  width: 95%;
  transition: all 0.3s;
}
.event_user {
  display: inline-block;
  margin: 10px 5px;
  width: 15px;
  height: 15px;
}
.event_organizator {
  display: inline-block;
  margin: 10px 5px;
  height: 15px;
  vertical-align: middle;
  font-weight: bold;
}

@media screen and (min-width: 991px) and (max-width: 1400px) {
  .day_info._active {
    font-size: 0.7em;
  }
}
@media screen and (max-width: 780px) {
  .day_info._active {
    font-size: 0.8em;
  }
}
@media screen and (max-width: 650px) {
  .day_info {
    width: 10px;
    height: 10px;
    border: none;
    color: #eed585;
  }
  .day_info._active {
    height: auto;
    font-size: 0.7em;
    color: #584404;
  }
}
@media screen and (max-width: 530px) {
  .day_info {
    margin: 0;
  }
  .event_info {
    display: none;
    position: absolute;
    width: 196%;
    margin: 8px 0 0 -8px;
    font-size: 0.7em;
    color: #584404;
    text-align: center;
    border: 2px #9a7808 solid;
    border-radius: 5px;
    background: #FFFFFF;
    z-index: 4;
  }
  .event_info._active {
    display: block !important;
  }
  .event_days {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .event_cal {
    display: none;
  }
  .event_day {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .event_btn {
    width: 60%;
    margin: 10px 0;
    background: #eed585;
    border-radius: 5px;
    font-size: 1em;
    transition: all 0.3s;
  }
  .event_btn:hover {
    width: 95%;
    transition: all 0.3s;
  }
  .event_user {
    display: inline-block;
    margin: 10px 5px;
    width: 15px;
    height: 15px;
  }
  .event_organizator {
    display: inline-block;
    margin: 10px 5px;
    height: 15px;
    vertical-align: middle;
  }
}
.e-wrapper {
  position: relative;
  margin: 20px;
  padding: 20px;
  width: 40%;
  height: 40vw;
  border: 2px #9a7808 solid;
  border-radius: 5px;
  background: #FFFFFF;
  overflow: auto;
}
.e-wrapper::-webkit-scrollbar {
  width: 5px;
  height: 15px;
}
.e-wrapper::-webkit-scrollbar-track {
  background: none;
}
.e-wrapper::-webkit-scrollbar-thumb {
  background: #b08909;
  border-radius: 10px;
}

.list__events {
  width: 100%;
}
.list_info {
  margin: 10px 0;
  width: 100%;
  height: 100;
  padding: 10px;
  background: #eed585;
  border: 2px #9a7808 solid;
  border-radius: 5px;
}
.list_title {
  margin: 0;
  width: 23vw;
  font-size: 1.3em;
  font-weight: bold;
}
.list_days {
  display: flex;
  flex-wrap: wrap;
  margin: 5px 0;
  font-size: 1em;
  font-weight: bold;
}
.list_date {
  padding: 0 10px;
}
.list_btn {
  position: absolute;
  right: 0;
  margin-right: 30px;
  width: 20%;
  background: #b08909;
  border-radius: 5px;
  font-size: 15px;
  transition: all 0.3s;
}
.list_btn:hover {
  width: 30%;
  transition: all 0.3s;
}
.list_text {
  margin: 5px 0;
  font-size: 1em;
  text-align: justify;
  text-indent: 15px;
}
.list_cal {
  width: 15px;
  height: 15px;
}
.list_user {
  position: absolute;
  width: 15px;
  height: 15px;
}
.list_organizator {
  padding-left: 20px;
}

@media screen and (max-width: 991px) {
  .list_title {
    width: 50vw;
    font-size: 1.8em;
  }
  .list_days {
    font-size: 1.2em;
  }
}
.modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.6);
  overflow: auto;
  opacity: 0;
  visibility: hidden;
  cursor: pointer;
  z-index: 999;
  transition: 0.4s all;
}
.modal._visible {
  opacity: 1;
  visibility: visible;
}
.modal._visible .modal__form {
  transform: translate(0);
}
.modal-table {
  display: table;
  width: 100%;
  height: 100%;
}
.modal-table-cell {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  padding: 0;
}
.modal__form {
  display: inline-block;
  position: relative;
  padding: 20px;
  max-width: 400px;
  width: 100%;
  color: #0B0A0D;
  text-align: left;
  background: #FFFFFF;
  box-shadow: 0px 0px 20px #9a7808;
  border-radius: 5px;
  border: 2px #9a7808 solid;
  transition: all 0.4s;
  transform: translate(0, 20%);
}
.modal__close {
  position: absolute;
  margin-top: 5px;
  right: 10px;
  width: 25px;
  height: 2px;
  transition: 0.4s all;
}
.modal__close:hover {
  width: 30px;
}
.modal__close:before, .modal__close:after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: block;
  margin: auto;
  background: #9a7808;
  transform: rotate(45deg);
}
.modal__close:after {
  transform: rotate(-45deg);
}
.modal__header {
  margin-bottom: 20px;
  font-size: 15px;
  font-weight: bold;
}
.modal__content label {
  position: absolute;
  margin: -8px 0 0 10px;
  padding: 0 5px;
  background: #FFFFFF;
}
.modal__item {
  position: relative;
  margin: 15px 10px;
}
.modal__control {
  display: block;
  padding: 8px 0 0 25px;
  width: 100%;
  height: 40px;
  border: 1px #9a7808 solid;
  border-radius: 5px;
}
.modal__approval {
  margin: 0 15px 0 50px;
  font-size: 12px;
}
.modal__btn {
  width: 100%;
  height: 40px;
  margin-top: 20px;
  background: #eed585;
  border: 2px #9a7808 solid;
  border-radius: 5px;
  transition: all 0.4s;
}
.modal__btn:hover {
  font-size: 1.2vw;
  box-shadow: 0px 0px 20px #9a7808;
  transition: all 0.4s;
}

label {
  display: inline-block;
  max-width: 100%;
}

.required {
  color: #9a7808;
}

@media screen and (max-width: 991px) {
  .calendar {
    flex-direction: column;
  }
  .c-wrapper {
    width: 95%;
  }
  table {
    height: 60vw;
  }
  .e-wrapper {
    width: 95%;
  }
}
@media screen and (max-width: 650px) {
  .e-wrapper {
    height: 37vh;
  }
}/*# sourceMappingURL=style.css.map */